<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../../vendor/bootstrap.min.css">
  <link rel="stylesheet" href="../styles.css">

  <script src="../../vendor/vue.global.js"></script>
  <script src="../../vendor/axios.min.js"></script>
  <script src="../../vendor/bootstrap.bundle.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>schedule</title>
</head>

<div class="font-set a-stls" id="app">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="home-link" href="../../index.html">Главная</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="collapse navbar-collapse" id="navbarNav">
          <form onsubmit="return false;" class="w-50 d-flex mx-auto my-2 my-lg-0">
            <div class="input-group input-group-lg">
              <input @input="getSearchResults" v-model="searchQuery" class="form-control" type="search" placeholder="Search" aria-label="Search">
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" style="color:white; font-size: 32px;" href="../catalog/catalog.html">Каталог</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white; font-size: 32px; " href="../schedule/schedule.html">Расписание</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" style="font-size: 32px;" href="../profile/profile.html">Профиль</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
  <!--results of search-->
  <div>
    <div class="container">
      <div class="" v-for="(result, index) in searchResults" :key="index">
        <a :href="'../title_page/title_page.html?id='+result.id">
          <div style="background-color: #444444;" class="list-group-item list-group-item-action">
            <img :src="`https://static-libria.weekstorm.one/`+result.posters.small.url" class="search-poster card-img-top" alt="...">
            <div style="color:white" class="search-name">{{result.names.ru}}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="height: 100px;"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 style="font-size: 60px;">Расписание:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="font-size: 50px; color:white">День</th>
              <th style="font-size: 50px; color:white">Эпизоды</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="font-size: 40px;  color:white">Понедельник</td>
              <td>
                <div v-for="sdl in schedule" :key="sdl">
                  <div v-if="sdl.day==0">
                    <div class="container-fluid mt-3">
                      <div class="row d-flex flex-wrap">
                        <div v-for="item in sdl.list" class="col-12 col-md-6 col-lg-3 mb-3">
                          <!-- Titles with Images and Descriptions -->
                          <a style="text-decoration: none; color: black;" :href="`../title_page/title_page.html?id=`+item.id">
                            <div style="height: 1200px;" class="card">
                              <img :src="`https://static-libria.weekstorm.one/`+item.posters.original.url" class="card-img-top" alt="...">
                              <div style="background-color: #444444; color:white" class="card-body">
                                <h5 class="card-title name-title">{{item.names.ru}}</h5>
                                <p class="card-subtitle"><i>{{item.type.full_string}}</i></p>
                                <span>Серия: {{item.player.episodes.string}}</span>
                                <p class="card-text description-title">{{item.description.length>50?item.description.slice(0,420)+"...":item.description}}</p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="font-size: 40px;  color:white">Вторник</td>
              <td>
                <div v-for="sdl in schedule" :key="sdl">
                  <div v-if="sdl.day==1">
                    <div class="container-fluid mt-3">
                      <div class="row d-flex flex-wrap">
                        <div v-for="item in sdl.list" class="col-12 col-md-6 col-lg-3 mb-3">
                          <!-- Titles with Images and Descriptions -->
                          <a style="text-decoration: none; color: black;" :href="`../title_page/title_page.html?id=`+item.id">
                            <div style="height: 1200px;" class="card">
                              <img :src="`https://static-libria.weekstorm.one/`+item.posters.original.url" class="card-img-top" alt="...">
                              <div style="background-color: #444444; color:white" class="card-body">
                                <h5 class="card-title name-title">{{item.names.ru}}</h5>
                                <p class="card-subtitle"><i>{{item.type.full_string}}</i></p>
                                <span>Серия: {{item.player.episodes.string}}</span>
                                <p class="card-text description-title">{{item.description.length>50?item.description.slice(0,420)+"...":item.description}}</p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="font-size: 40px;  color:white">Среда</td>
              <td>
                <div v-for="sdl in schedule" :key="sdl">
                  <div v-if="sdl.day==2">
                    <div class="container-fluid mt-3">
                      <div class="row d-flex flex-wrap">
                        <div v-for="item in sdl.list" class="col-12 col-md-6 col-lg-3 mb-3">
                          <!-- Titles with Images and Descriptions -->
                          <a style="text-decoration: none; color: black;" :href="`../title_page/title_page.html?id=`+item.id">
                            <div style="height: 1200px;" class="card">
                              <img :src="`https://static-libria.weekstorm.one/`+item.posters.original.url" class="card-img-top" alt="...">
                              <div style="background-color: #444444; color:white" class="card-body">
                                <h5 class="card-title name-title">{{item.names.ru}}</h5>
                                <p class="card-subtitle"><i>{{item.type.full_string}}</i></p>
                                <span>Серия: {{item.player.episodes.string}}</span>
                                <p class="card-text description-title">{{item.description.length>50?item.description.slice(0,420)+"...":item.description}}</p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="font-size: 40px;  color:white">Четверг</td>
              <td>
                <div v-for="sdl in schedule" :key="sdl">
                  <div v-if="sdl.day==3">
                    <div class="container-fluid mt-3">
                      <div class="row d-flex flex-wrap">
                        <div v-for="item in sdl.list" class="col-12 col-md-6 col-lg-3 mb-3">
                          <!-- Titles with Images and Descriptions -->
                          <a style="text-decoration: none; color: black;" :href="`../title_page/title_page.html?id=`+item.id">
                            <div style="height: 1200px;" class="card">
                              <img :src="`https://static-libria.weekstorm.one/`+item.posters.original.url" class="card-img-top" alt="...">
                              <div style="background-color: #444444; color:white" class="card-body">
                                <h5 class="card-title name-title">{{item.names.ru}}</h5>
                                <p class="card-subtitle"><i>{{item.type.full_string}}</i></p>
                                <span>Серия: {{item.player.episodes.string}}</span>
                                <p class="card-text description-title">{{item.description.length>50?item.description.slice(0,420)+"...":item.description}}</p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="font-size: 40px;  color:white">Пятница</td>
              <td>
                <div v-for="sdl in schedule" :key="sdl">
                  <div v-if="sdl.day==4">
                    <div class="container-fluid mt-3">
                      <div class="row d-flex flex-wrap">
                        <div v-for="item in sdl.list" class="col-12 col-md-6 col-lg-3 mb-3">
                          <!-- Titles with Images and Descriptions -->
                          <a style="text-decoration: none; color: black;" :href="`../title_page/title_page.html?id=`+item.id">
                            <div style="height: 1200px;" class="card">
                              <img :src="`https://static-libria.weekstorm.one/`+item.posters.original.url" class="card-img-top" alt="...">
                              <div style="background-color: #444444; color:white" class="card-body">
                                <h5 class="card-title name-title">{{item.names.ru}}</h5>
                                <p class="card-subtitle"><i>{{item.type.full_string}}</i></p>
                                <span>Серия: {{item.player.episodes.string}}</span>
                                <p class="card-text description-title">{{item.description.length>50?item.description.slice(0,420)+"...":item.description}}</p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="font-size: 40px;  color:white">Суббота</td>
              <td>
                <div v-for="sdl in schedule" :key="sdl">
                  <div v-if="sdl.day==5">
                    <div class="container-fluid mt-3">
                      <div class="row d-flex flex-wrap">
                        <div v-for="item in sdl.list" class="col-12 col-md-6 col-lg-3 mb-3">
                          <!-- Titles with Images and Descriptions -->
                          <a style="text-decoration: none; color: black;" :href="`../title_page/title_page.html?id=`+item.id">
                            <div style="height: 1200px;" class="card">
                              <img :src="`https://static-libria.weekstorm.one/`+item.posters.original.url" class="card-img-top" alt="...">
                              <div style="background-color: #444444; color:white" class="card-body">
                                <h5 class="card-title name-title">{{item.names.ru}}</h5>
                                <p class="card-subtitle"><i>{{item.type.full_string}}</i></p>
                                <span>Серия: {{item.player.episodes.string}}</span>
                                <p class="card-text description-title">{{item.description.length>50?item.description.slice(0,420)+"...":item.description}}</p>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td style="font-size: 40px;  color:white">Воскресенье</td>
              <td>
                <div v-for="sdl in schedule" :key="sdl">
                  <div v-if="sdl.day==6">
                    <div class="container-fluid mt-3">
                      <div class="row d-flex flex-wrap">
                        <div v-for="item in sdl.list" class="col-12 col-md-6 col-lg-3 mb-3">

                          <!-- Titles with Images and Descriptions -->
                          <a style="text-decoration: none; color: black;" :href="`../title_page/title_page.html?id=`+item.id">
                            <div style="height: 1200px;" class="card">
                              <img :src="`https://static-libria.weekstorm.one/`+item.posters.original.url" class="card-img-top" alt="...">
                              <div style="background-color: #444444; color:white" class="card-body">
                                <h5 class="card-title name-title">{{item.names.ru}}</h5>
                                <p class="card-subtitle"><i>{{item.type.full_string}}</i></p>
                                <span>Серия: {{item.player.episodes.string}}</span>
                                <p class="card-text description-title">{{item.description.length>50?item.description.slice(0,420)+"...":item.description}}</p>
                              </div>
                            </div>
                          </a>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  </div>
  <!-- Filter section -->
  <!--end of id="app"-->

  <script>
    Vue.createApp({
      data() {
        return {
          schedule: [],
          searchQuery: '',
          searchResults: [],
        };
      },
      methods: {
        async getSearchResults() {
          try {
            const response = await axios.get(`https://api.anilibria.tv/v3/title/search?search=${this.searchQuery}&filter=id,names.ru,posters,limit=10`);
            this.searchResults = response.data.list;
          } catch (error) {}
        },
      },
      async mounted() {
        try {
          const response = await axios.get(`https://api.anilibria.tv/v3/title/schedule?filter=id,names.ru,posters.original.url,type.full_string,description,player.episodes.string`);
          this.schedule = response.data;
        } catch (error) {}
      }
    }).mount('#app');
  </script>
  </body>

</html>