.font-set{
    color:white;
    font-family: 'Roboto', sans-serif;
}
.a-stls{
    background-color: #171717;
}
.name-title{
    font-size: 28px;
}

.description-title{
    font-size: 19px;
}

.home-link{
    color:white;
    text-decoration: none;
    font-size: 65px;
    transition-duration:.3s;
}
.navbar-styles{
    color:white;
}
.home-link:hover{
    color:whitesmoke;
}
.titles{
    background-color: #444444;
}
.search-poster{
    width: 120px;
    height: 120px;
}

.search-name{
    cursor:pointer;
    color:black;
    font-size: 24px;
    display: inline-block;
    margin-left:20px;
}